*.class
*.jar
*.war
*.ear
hs_err_pid*
replay_pid*
*.log

target/
!.mvn/wrapper/maven-wrapper.jar

.gradle/
build/

.idea/
*.iws
*.iml
*.ipr
out/

*.classpath
*.project
*.settings/

.vscode/

nbproject/private/
build/
nbbuild/
dist/
.nb-gradle/

.DS_Store
Thumbs.db
ehthumbs.db
Icon?
__MACOSX/

surefire-reports/
jacoco.exec
coverage/

spring.log
application-local.properties
application-local.yml

*.h2.db
*.mv.db
*.derby.db
*.sqlite

docker-compose.override.yml
*.env

node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.*/          # e.g. .env.development.local

